.appContainer {
    padding: 10px;
    .resultContainer {
        border: 2px solid #000;
        border-radius: 5px;
        padding: 10px;
        .margin-10 {
            margin: 10px;
        }
    }
    .margin-top-20 {
        margin-top: 20px;
    }
    .margin-bottom-zero{
        margin-bottom: 0;
    }
    .cardContainer{
        border-radius: 10px;
        margin: 2px;
    }
    .margin-top-10 {
        margin-top: 10px;
    }
}